# MongoDB Connection
MONGO_URI=mongodb://localhost:27017/retinatrack_db

# Meta WhatsApp Cloud API
WHATSAPP_ACCESS_TOKEN=your_meta_access_token
WHATSAPP_PHONE_NUMBER_ID=your_whatsapp_business_phone_number_id
WHATSAPP_GRAPH_API_VERSION=v23.0
